/* default */
.sevices_product .section_title,
.section_study h2
{
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: var(--dark);
    padding-top: 20px;
    padding-bottom: 80px;
}
@media (max-width: 1440px) {}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 480px) {}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}