:root {
  --pd: 15px;
  --ticket-ml: 20px;
  --orange: #f15d30;
  --orange-darker: #a7300c;
  --white: #fff;
  --black: #000;
  --blue: #2F80ED;
  --brand: #353590;
  --color-main-bg: #23459B;
  --black-light: rgba(0, 0, 0, 0.1);
  --gray: rgba(0, 0, 0, 0.05);
  --text-clr-gray: #4F4F4F;
  --icon-clr: #051F4D;
}

* {
  box-sizing: border-box;
}


h2, h1 {
  margin: 0;
}


@font-face {
  font-family: 'SVN-Gilroy Bold';
  src: local('SVN-Gilroy Bold'),  url('./../fonts/SVN-Gilroy\ Bold.otf')  format('woff');
}

@font-face {
  font-family: 'SVN-Gilroy Heavy';
  src: local('SVN-Gilroy Heavy'),  url('./../fonts/SVN-Gilroy\ Heavy.otf')  format('woff');
}

@font-face {
  font-family: 'SVN-Gilroy Regular';
  src: local('SVN-Gilroy Regular'),  url('./../fonts/SVN-Gilroy\ Regular.otf')  format('woff');
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h2, h1 {
  margin: 0;
}

textarea,
input {
  font-family: 'Montserrat', sans-serif;
}

.d-flex {
  display: flex;
}

.d-flex.justify--space-between {
  justify-content: space-between;
}

.pt-48 {
  padding-top: 48px;
}
.pt-15{
  padding-top: 15px;
}

.pt-b-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.ml-12 {
  margin-left: 12px;
}

.mb-30 {
  margin-bottom: 30px;
}

.sub-heading {
  font-size: 3rem;
  line-height: 3rem;
  color: var(--orange);
  opacity: 0.9;
}

.sub-heading--white {
  color: var(--white);
}

.heading {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.4;
  margin: 16px 0;
}

.heading--white {
  color: var(--white);
}

.heading--large {
  font-size: 5rem;
  font-weight: 700;
  line-height: 6rem;
  margin: 16px 0 24px;
}

.btn {
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 20px;
  cursor: pointer;
}

.btn--active {
  color: gray;
  background: var(--white);
}
