.markets_box {
    position: relative;
    z-index: -1;
    padding: 100px 0px;
}

.markets_box--grid {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
padding: 50px 0;}

.markets_heading {
    text-align: center;
    padding: 220px 0;
}


.markets_box--col {display: flex;justify-content: center;}